<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://staticx.ibncollege.com/wcsstore/ExtendedSitesCatalogAssetStore/805_200_30_270372664/images/SMALLIMAGE_1512206.jpg">
            <div class="caption">
              <h3>SWEATSHIRTS</h3>
              <p>Champion School Pride Mens Quarter Zip</p>p>
              <div class="clearfix">
                <div class="price pull-left">price</div>
                <div><a class="btn btn-success pull-right" role="button">Add to cart</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://staticx.ibncollege.com/wcsstore/ExtendedSitesCatalogAssetStore/805_200_30_270372664/images/SMALLIMAGE_1512206.jpg">
          <div class="caption">
            <h3>SWEATSHIRTS</h3>
            <p>Champion School Pride Mens Quarter Zip</p>p>
            <div class="clearfix">
              <div class="price pull-left">$60</div>
              <div><a class="btn btn-success pull-right" role="button">Add to cart</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://staticx.ibncollege.com/wcsstore/ExtendedSitesCatalogAssetStore/805_100_10_298122190/images/SMALLIMAGE_1406931.jpg">
          <div class="caption">
            <h3>PERFORMANCE APPAREL</h3>
            <p>Adidas Go To Performance T Shirt</p>p>
            <div class="clearfix">
              <div class="price pull-left">$20</div>
              <div><a class="btn btn-success pull-right" role="button">Add to cart</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://staticx.ibncollege.com/wcsstore/ExtendedSitesCatalogAssetStore/801_200_10_44313/images/LARGEIMAGE_914442.jpg">
          <div class="caption">
            <h3>T-shirt</h3>
            <p>Alta Gracia Rolled Tee</p>p>
            <div class="clearfix">
              <div class="price pull-left">$20</div>
              <div><a class="btn btn-success pull-right" role="button">Add to cart</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

